* {
  background-color: rgb(35, 33, 46);
  color: aliceblue;
  /*max-width: 1600px;*/

  /*font-family: monospace;*/
}

.root-layout {
  margin: 0 auto;
  width: 50%;
  /*display: flex;*/
}

.short-information-top-nav {
  border: 1px solid rgb(255, 0, 221);
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.short-information {
  margin-bottom: 3rem;
}

.top-nav a {
  margin-right: 0.8rem;
  text-decoration: none;
}

.top-nav a:hover {
  color: rgb(255, 0, 221);
}

.top-nav a:active {
  color: rgb(255, 0, 221);
}

main {
  border: 1px solid rgb(255, 238, 0);
  padding: 3rem;
}

footer {
  border: 1px solid rgb(0, 238, 255);
  text-align: right;
  padding: 1rem;
}

footer a {
  margin-right: 0.5rem;
  text-decoration: none;
}

footer a:hover {
  color: rgb(0, 238, 255);
}

footer a:active {
  color: rgb(0, 238, 255);
}

/*.experience-section h2 {
  margin-bottom: 3rem;
}

.experience-item {
  margin-bottom: 4rem;
}*/

/*.projects {
  display: flex;
  flex-wrap: wrap;
}*/

.project {
  display: flex;
  align-items: center;
}

.project-picture {
  flex: 1 1 auto;
  margin-right: 5px;
}

.project-picture img {
  max-width: 50%;
  min-width: 100px;
  /* Stelle sicher, dass das Bild nicht breiter als sein Container ist */
}

.contact-form div {
  padding-bottom: 1rem;
}

.contact-form div input {
  background-color: aliceblue;
  color: rgb(35, 33, 46);
}

.contact-form button {
  border-color: aquamarine;
}