* {
  background-color: rgb(35, 33, 46);
  color: aliceblue;
}

.root-layout {
  margin: 12rem;
  /*display: flex;*/
}

.short-information-top-nav {
  border: 1px solid rgb(255, 0, 221);
  padding-left: 3rem;
  padding-bottom: 1rem;
}

.short-information {
  margin-bottom: 3rem;
}

.top-nav a {
  margin-right: 0.8rem;
  text-decoration: none;
}

main {
  border: 1px solid rgb(255, 238, 0);
  padding: 3rem;
}

footer {
  border: 1px solid rgb(0, 238, 255);
  text-align: right;
  padding: 1rem;
}

footer a {
  margin-right: 0.5rem;
  text-decoration: none;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project-picture {
  flex: 30%;
  width: 8rem;
  height: 8rem;
}

.project-information {
  float: 70%;
}

.experience-section h2 {
  margin-bottom: 3rem;
}

.experience-item {
  margin-bottom: 4rem;
}